.main-header {
  background-color: rgb(43, 43, 234);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  margin: 0;
}

.main-header ul.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 20px;
}

.main-header ul.nav-links {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.main-header .main-logo {
  width: 110px;
}

.main-header .main-logo img {
  width: 100%;
}

p {
  border: 1px solid red;
  padding: 20px;
}
.para{
  background-color: greenyellow;
  width:100px;
  height: 150px;
  overflow-y: auto;
    word-wrap: break-word;
    position: relative;
}
.b{
  background-color: aqua;
  position: absolute;
}












